* {
  margin: 15px;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  background-color: black;
  color: beige;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding-top: 1px;
  position: fixed;
  backdrop-filter: blur(30px);
  width: 100%;
  top: 0;

  z-index: 1;
}
.logo {
  padding-right: 300px;
  font-size: 40px;
  font-weight: bold;
  border: solid 5px beige;
  border-radius: 10px;
}
.links li {
  display: inline-block;
  gap: 5px;
  padding: 3px;
}
.links li a {
  color: beige;
  font-size: 25px;
  text-decoration: none;
  width: 10px;

  transition: all 0.7s ease;
}
.links li a:hover {
  background-color: beige;
  color: black;
}
.hero {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-top: 100px;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.herocontent {
  animation: 1.5s fadeInUp;
}
/* start */
.herocontent {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.herocontent.show {
  opacity: 1;
  transform: translateY(0);
}
/* end */
.heroimg img {
  border-radius: 300px;
  padding-left: 200px;
}
.herocontent {
  display: flex;
  flex-direction: column;
}
.hero h1 {
  padding-right: 300px;
  float: right;
  top: 0;
  font-size: 35px;
  padding: 20px;
  text-decoration: underline;
  text-align: center;
  transition: all 0.5s ease;
}
.hero h1:hover {
  background-color: beige;
  color: black;
  transition: all 0.5s ease;
}
.herocontent p {
  text-align: center;
  font-size: 25px;
  padding-right: 30px;
}
.color {
  background-color: beige;
  height: 10px;
}
.abouth1 {
  text-align: center;
}
.aboutcontent p {
  text-align: center;
  font-size: 25px;
}
.aboutcontent h1 {
  text-align: center;
  text-decoration: underline;
  padding: 10px;
}
.aboutcontent ul {
  text-align: center;
  justify-content: center;
}
.aboutcontent li {
  text-align: center;
  justify-content: center;
  list-style: none;
  font-size: 26px;
}
.aboutcontent li i {
  font-size: 40px;
}

.color1 {
  height: 5px;
  background-color: beige;
}
.projects h1 {
  text-align: center;
  text-decoration: underline;
}
.projectscontent ul {
  text-align: center;
}
.projectscontent li {
  list-style: none;
  gap: 30px;
}

.projectscontent li i {
  color: white;
  font-size: 30px;
  text-decoration: none;
}
.projectscontent li a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease;
}
.projectscontent li a:hover {
  background-color: beige;
  color: black;
  transition: all 0.5s ease;
}
.projectscontent li p {
  font-size: 20px;
}
.blogh1 {
  text-decoration: underline 3px;
}
.blogcontent {
  font-size: 20px;
}
/* @keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.blogcontent {
  animation: 2.5s fadeInUp;
} */
.blogcontent {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.blogcontent.show {
  opacity: 1;
  transform: translateY(0);
}

.contacth1 {
  text-align: center;
  text-decoration: underline;
}
.contactcontent {
  display: flex;
}
.contactcontent label {
  font-size: 20px;
}
.contactcontent input {
  background-color: beige;
  height: 25px;
  font-size: 20px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.contactcontent ::placeholder {
  text-align: center;
  text-decoration: none;
}
.contactcontent {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.contactcontent.show {
  opacity: 1;
  transform: translateY(0);
}
.submit {
  text-align: center;
}

.color2 {
  background-color: beige;
  height: 2px;
}
.socials {
  display: flex;
  justify-content: space-around;
}
.insta i {
  font-size: 40px;
  padding: 5px;
}
.insta i:hover {
  color: #833ab4;
  background-color: #833ab4;
  border-radius: 10px;
}
.insta a {
  color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}
.insta a:hover {
  background-color: #833ab4;
  color: white;
}
.linkedin i {
  font-size: 40px;
  padding: 5px;
}
.linkedin i:hover {
  color: white;
  background-color: #0077b5;
  border-radius: 10px;
}
.linkedin a {
  color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}
.linkedin a:hover {
  background-color: #0077b5;
}
.github i {
  font-size: 40px;
  padding: 5px;
}
.github i:hover {
  color: white;
  background-color: blue;
  border-radius: 20px;
}
.github a {
  color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}
.github a:hover {
  background-color: blue;
  color: white;
}
footer p {
  text-align: center;
  font-size: 25px;
}
.footer p::after {
  content: "";
  width: 0;
  display: block;
  background-color: beige;
  height: 3px;
  transition: width 1s ease;
}
.h1effecta::after {
  background-color: beige;
  width: 0;
  height: 3px;
  content: "";
  display: block;

  transition: width 3s ease;
}
.h1effecta:hover::after {
  width: 37%;
}
.h1effect2::after {
  background-color: beige;
  width: 0;
  height: 3px;
  content: "";
  display: block;

  transition: width 3s ease;
}
.h1effect2:hover::after {
  width: 15%;
}
.h1effect3::after {
  background-color: beige;
  width: 0;
  height: 3px;
  content: "";
  display: block;

  transition: width 3s ease;
}
.h1effect3:hover::after {
  width: 55%;
}
.h1effect4::after {
  background-color: beige;
  width: 0;
  height: 3px;
  content: "";
  display: block;

  transition: width 3s ease;
}
.h1effect4:hover::after {
  width: 20%;
}
.footer p:hover::after {
  width: 100%;
}
